### Задание 1

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as stats

In [3]:
data = pd.read_csv('video_games.csv')
data.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

#### 1) Как критики относятся к спортивным играм?

Будем считать, что критики относятся положительно к играм, если среднее значение выставленного ими балла больше и равно 7,5.

Тогда,

- H0: средний выставленный критиками балл для спортивной игры >= 7,5
- H1: средний выставленный критиками балл для спортивной игры < 7,5

Сравниваем значение по выборке с константой, поэтому нужен одновыборочный критерий. Тест нужен односторонний, т.к. нас интересует только неравенство в меньшую сторону.

In [4]:
alpha = 0.05
result = stats.ttest_1samp(data[data.Genre == 'Sports'].Critic_Score, 7.5, nan_policy='omit')
print(result)
if (result.statistic < 0) & (result.pvalue/2 < alpha): 
    print('Отвергаем нулевую гипотезу, среднее значение балла критиков меньше 7.5')
else:
    print('Не отвергаем нулевую гипотезу, критикам нравятся спортивные игры')

Ttest_1sampResult(statistic=160.5118559049277, pvalue=0.0)
Не отвергаем нулевую гипотезу, критикам нравятся спортивные игры

### Итог:
Критики негативно относятся к спортивным играм, т.к. среднее значение балла критиков меньше 7.5.

Пороговый уровень статистической значимости равен pvalue=0.0

#### 2) Критикам нравятся больше игры на PC или на PS4?
- H0: критикам нравятся игры на PC также, как и на PS4
- H1: критикам нравятся игры на PC больше/меньше, чем на PS4

Сравниваем две выборки, поэтому нужен двухвыборочный двухсторонний критерий.

In [5]:
alpha = 0.05
result = stats.ttest_ind(data[data.Platform == 'PC'].Critic_Score, data[data.Platform == 'PS4'].Critic_Score, equal_var=False, nan_policy='omit')
print(result)
if result.pvalue < alpha: 
    print('Отвергаем нулевую гипотезу, критикам нравятся игры на PC и на PS4 по-разному')
else:
    print('Не отвергаем нулевую гипотезу, критикам нравятся игры на PC и на PS4 одинаково')

Ttest_indResult(statistic=4.3087588262138725, pvalue=2.0672491572827482e-05)
Отвергаем нулевую гипотезу, критикам нравятся игры на PC и на PS4 по-разному

### Итог:
Критикам нравятся игры на PS4 больше чем, на PC, так как статистический коэффициент меньше нуля.

Пороговый уровень статистической значимости равен pvalue=2.0672491572827482e-05

#### 3) Критикам больше нравятся стрелялки или стратегии?
- H0: стрелялки и стратегии нравятся критикам одинаково.
- H1: стрелялки критикам нравятся больше/меньше, чем стратегии.

Сравниваем две выборки, поэтому нужен двухвыборочный двухсторонний критерий.

In [6]:
alpha = 0.05
result = stats.ttest_ind(data[data.Genre == 'Shooter'].Critic_Score, data[data.Genre == 'Strategy'].Critic_Score, equal_var=False, nan_policy='omit')
print(result)
if result.pvalue < alpha: 
    print('Отвергаем нулевую гипотезу, стрелялки и стратегии критики оценивает по-разному')
else:
    print('Нет оснований отвергать нулевую гипотезу, стрелялки и стратегии нравятся критикам одинаково')

Ttest_indResult(statistic=-2.2972408230640315, pvalue=0.021938989522305212)
Отвергаем нулевую гипотезу, стрелялки и стратегии критики оценивает по-разному

### Итог:
Стрелялки и стратегии нравятся критикам одинаково. Пороговый уровень статистической значимости равен pvalue=0.022

### Задание 2

In [7]:
import re

In [8]:
spam = pd.read_csv('spam.csv')
spam.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [9]:
spam_mod = spam.copy(deep=True)

1) Привидите весь текст к нижнему регистру

In [10]:
spam_mod.Message = spam_mod.Message.str.lower()
spam_mod

     Category                                            Message
0         ham  go until jurong point, crazy.. available only ...
1         ham                      ok lar... joking wif u oni...
2        spam  free entry in 2 a wkly comp to win fa cup fina...
3         ham  u dun say so early hor... u c already then say...
4         ham  nah i don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  this is the 2nd time we have tried 2 contact u...
5568      ham               will ü b going to esplanade fr home?
5569      ham  pity, * was in mood for that. so...any other s...
5570      ham  the guy did some bitching but i acted like i'd...
5571      ham                         rofl. its true to its name

[5572 rows x 2 columns]

2) Удалите мусорные символы

In [11]:
spam_mod.Message = spam_mod['Message'].apply(lambda row: re.sub('[\W_]+',' ', row))
spam_mod

     Category                                            Message
0         ham  go until jurong point crazy available only in ...
1         ham                           ok lar joking wif u oni
2        spam  free entry in 2 a wkly comp to win fa cup fina...
3         ham       u dun say so early hor u c already then say
4         ham  nah i don t think he goes to usf he lives arou...
...       ...                                                ...
5567     spam  this is the 2nd time we have tried 2 contact u...
5568      ham               will ü b going to esplanade fr home
5569      ham  pity was in mood for that so any other suggest...
5570      ham  the guy did some bitching but i acted like i d...
5571      ham                          rofl its true to its name

[5572 rows x 2 columns]

3) Удалите стоп-слова

In [21]:
import nltk

In [22]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Kate\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [24]:
stopwords_set = set(stopwords.words('english'))

In [25]:
def clean_stop_words(row):
    text = row.split()
    text_without_sw = [word for word in text if word not in stopwords_set]
    return ' '.join(text_without_sw)

In [26]:
spam_mod.Message = spam_mod['Message'].apply(clean_stop_words)
spam_mod

     Category                                            Message
0         ham  go jurong point crazy available bugis n great ...
1         ham                            ok lar joking wif u oni
2        spam  free entry 2 wkly comp win fa cup final tkts 2...
3         ham                u dun say early hor u c already say
4         ham             nah think goes usf lives around though
...       ...                                                ...
5567     spam  2nd time tried 2 contact u u 750 pound prize 2...
5568      ham                        ü b going esplanade fr home
5569      ham                              pity mood suggestions
5570      ham  guy bitching acted like interested buying some...
5571      ham                                     rofl true name

[5572 rows x 2 columns]

4) Привидите все слова к нормальной форме

In [27]:
from nltk.stem import WordNetLemmatizer
wordnet_lemmatizer = WordNetLemmatizer()

In [30]:
def lemmatize_text(row):
    text = row.split()
    lemmatized_text = [wordnet_lemmatizer.lemmatize(word) for word in text]
    return ' '.join(lemmatized_text)

In [31]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Kate\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\wordnet.zip.

True

In [32]:
spam_mod.Message = spam_mod['Message'].apply(lemmatize_text)
spam_mod

     Category                                            Message
0         ham  go jurong point crazy available bugis n great ...
1         ham                            ok lar joking wif u oni
2        spam  free entry 2 wkly comp win fa cup final tkts 2...
3         ham                u dun say early hor u c already say
4         ham                nah think go usf life around though
...       ...                                                ...
5567     spam  2nd time tried 2 contact u u 750 pound prize 2...
5568      ham                        ü b going esplanade fr home
5569      ham                               pity mood suggestion
5570      ham  guy bitching acted like interested buying some...
5571      ham                                     rofl true name

[5572 rows x 2 columns]

5) Преобразуйте все сообщения в вектора TF-IDF

In [33]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer()
tfidf_matrix = tfidf.fit_transform(spam_mod.Message)
names = tfidf.get_feature_names()
tfidf_matrix = pd.DataFrame(tfidf_matrix.toarray(), columns=names)

c:\users\kate\appdata\local\programs\python\python39\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [34]:
tfidf_matrix

,00,000,000pes,008704050406,0089,0121,01223585236,01223585334,0125698789,02,...,zhong,zindgi,zoe,zogtorius,zoom,zouk,zyada,èn,ú1,〨ud
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5567,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5568,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5569,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5570,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5571,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

6) Разделите данные на тестовые и тренировочные в соотношении 30/70, укажите random_state=42. Используйте train_test_split

7) Постройте модель логистической регрессии, укажите random_state=42, оцените ее точность на тестовых данных

In [36]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(tfidf_matrix, spam_mod.Category, test_size=0.30, random_state=42)

In [37]:
from sklearn.linear_model import LogisticRegression

In [38]:
LR = LogisticRegression(random_state=42)

In [39]:
LR.fit(X_train, Y_train)

LogisticRegression(random_state=42)

In [40]:
LR.predict(X_test)

array(['ham', 'ham', 'ham', ..., 'ham', 'spam', 'ham'], dtype=object)

In [41]:
result = pd.DataFrame([Y_test.index, Y_test.to_numpy(), LR.predict(X_test)]).T

In [42]:
result.set_index(0, inplace=True)
result.columns = ['Category','Predicted_Category']
result

     Category Predicted_Category
0
3245      ham                ham
944       ham                ham
1044      ham                ham
2484      ham                ham
812       ham                ham
...       ...                ...
2505      ham                ham
2525     spam               spam
4975      ham                ham
650      spam               spam
4463      ham                ham

[1672 rows x 2 columns]

In [43]:
from sklearn.metrics import accuracy_score
accuracy_score(Y_test, LR.predict(X_test))

0.958732057416268

8) Опишите результаты при помощи confusion_matrix

In [44]:
from sklearn.metrics import confusion_matrix

In [45]:
confusion_matrix(Y_test, LR.predict(X_test))

array([[1445,    3],
       [  66,  158]], dtype=int64)

1603 (1445+158) значения предсказаны верно

69 (66+3) значений предсказано неверно

In [46]:
tn, fp, fn, tp = confusion_matrix(Y_test, LR.predict(X_test)).ravel()

In [48]:
accuracy = (tp + tn) / (tn + fp + fn + tp)
print('Точность классификации: %.2f ' % accuracy)
recall = (tp) / (fn + tp)
print('Чувствительность - отношение общего количества правильно классифицированных положительных классов \n к общему количеству положительных классов: %.2f' %recall)
precision = (tp) / (fp + tp)
print('Точность - отношение общего количества правильно классифицированных положительных классов \n к общему количеству предсказанных положительных классов: %.2f ' % precision)

Точность классификации: 0.96
Чувствительность - отношение общего количества правильно классифицированных положительных классов
 к общему количеству положительных классов: 0.71
Точность - отношение общего количества правильно классифицированных положительных классов
 к общему количеству предсказанных положительных классов: 0.98

In [49]:
from sklearn.metrics import classification_report

In [50]:
print(classification_report(Y_test, LR.predict(X_test)))

              precision    recall  f1-score   support

         ham       0.96      1.00      0.98      1448
        spam       0.98      0.71      0.82       224

    accuracy                           0.96      1672
   macro avg       0.97      0.85      0.90      1672
weighted avg       0.96      0.96      0.96      1672

In [51]:
mistakes = result[result['Category'] != result['Predicted_Category']]
mistakes

     Category Predicted_Category
0
2952      ham               spam
881      spam                ham
1961     spam                ham
3864     spam                ham
2575     spam                ham
...       ...                ...
4543     spam                ham
752      spam                ham
309      spam                ham
495       ham               spam
305      spam                ham

[69 rows x 2 columns]

In [52]:
mistakes.merge(spam, left_index=True, right_index=True, left_on=None)

,Category_x,Predicted_Category,Category_y,Message
2952,ham,spam,ham,Hey now am free you can call me.
881,spam,ham,spam,Reminder: You have not downloaded the content ...
1961,spam,ham,spam,Guess what! Somebody you know secretly fancies...
3864,spam,ham,spam,Oh my god! I've found your number again! I'm s...
2575,spam,ham,spam,Your next amazing xxx PICSFREE1 video will be ...
...,...,...,...,...
4543,spam,ham,spam,FreeMsg Hi baby wow just got a new cam moby. W...
752,spam,ham,spam,You have an important customer service announc...
309,spam,ham,spam,TheMob> Check out our newest selection of cont...
495,ham,spam,ham,Are you free now?can i call now?
305,spam,ham,spam,SMS. ac Blind Date 4U!: Rodds1 is 21/m from Ab...